.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: beige;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.counter-item {
  border: 2px solid #ffa500;
  border-radius: 16px;
  padding: 1rem;
  display: block;
  gap: 2rem;
  justify-content: center;
  background: #fff8e1;
  box-shadow: 0 2px 8px rgba(255, 165, 0, 0.08);
  margin-bottom: 1rem;
}

.counter-item h1 {
  font-size: 2rem;
  font-weight: bold;
}
